@model ITP245_Model.PurchaseOrder

@{
    ViewBag.Title = "Purchase Order";

    ViewBag.Subtitle = "Create Purchase Order";
    Layout = "~/Areas/Inventory/Views/Shared/_Layout.cshtml";
}

<div class="row itemFormBox indexFont">
    <div class="col-sm-4 col-xs-12 " style="margin-bottom:1rem;margin-top:1.5rem;">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-block btn-block indexTableBtns" })
    </div>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="row myTableBox indexFont">
        <div class="form-horizontal container">
            @Html.Partial("_CreateEdit", Model)
        </div>
    </div>
}

