@model ITP245_Model.PurchaseOrder

@{
    ViewBag.Title = "Purchase Order";
    ViewBag.SubTitle = "Edit Purchase Order";
    Layout = "~/Areas/Inventory/Views/Shared/_Layout.cshtml";
}


<div class="row itemFormBox indexFont">
    <div class="col-sm-4 col-xs-12 " style="margin-bottom:1rem;margin-top:1.5rem;">
        @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary btn-block btn-block indexTableBtns" })
    </div>
</div>

<div class="row itemFormBox indexFont">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal container">
            @Html.HiddenFor(model => model.PurchaseOrderNumber)
            @Html.Partial("_CreateEdit", Model)

        </div>
    }
</div>

