@model ITP245_Model.PurchaseOrder

@{
    ViewBag.Title = "Purchase Order";
    ViewBag.SubTitle = "Edit Purchase Order";
    Layout = "~/Areas/Inventory/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.HiddenFor(model => model.PurchaseOrderNumber)
    @Html.Partial("_CreateEdit", Model)

</div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</div>
