@model ITP245_Model.Category

@{
    ViewBag.Subtitle = "Edit Category";
    Layout = "~/Areas/Inventory/Views/Shared/_Layout.cshtml";
}



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.HiddenFor(model => model.CategoryId)
    @Html.Partial("_CreateEdit", Model)
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>