@model ITP245_Model.Item

@{
    ViewBag.Title = "Item";
    ViewBag.Subtitle = "Create Item";
    Layout = "~/Areas/Inventory/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.Partial("_CreateEdit", Model)
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</div>