@model ITP245_Model.Receipt

@{
    ViewBag.Subtitle = "Edit Receipt";
    Layout = "~/Areas/Inventory/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.Partial("_CreateEdit", Model)
    @Html.HiddenFor(model => model.ReceiptId)

</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>