@model _245_MVC_Project.Models.About

@{
    ViewBag.Title = "About";
}

<div class="row itemFormBox indexFont center-block">
   
        <div class="dl-horizontal">
            <dl>
                <dt>
                    <img class="pic" src="/Images/biopicture.jpg" alt="bio picture" />
                </dt>
                <dd>
                    <div class="subTitle2">@Model.FirstName @Model.LastName </div>

                </dd>
            </dl>
           
        </div>
 </div>


<div class="row itemFormBox indexFont center-block">

    <div class="col-xs-12" @*style="margin-bottom:1.5rem;margin-top:0.5rem;"*@>
        <p class="text-center">
            Welcome to my 1<sup>st</sup> web page!
            Unfortunately the topic of this page is not very interesting but none the less we will make a go of it.
            I was born in New Orleans, moved to Virginia while I was in active duty with the Navy.
            I fell in love with Richmond at the time, I thought it was a very accessible city for young people so I stayed.
            Years later, I have started a family here, and now I am working on changing careers.
            <hr />
        </p>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <p class="text-center">
                If this is the first time you have used a computer, and you are uncertain how you got here... <a href="https://en.wikipedia.org/wiki/Internet" class="btn-block btn-lg indexFont"> <b>click here!</b></a>
            </p>
        </div>
    </div>
</div>
        
        @*<div class="intake">
                <p>Please sign up for my email news letter for weekly updates on my life story!</p>
                <form>
                    First Name:<input type="text" name="firstName" />
                    Last Name:<input type="text" name="lastName" />
                    Email:<input type="email" name="email" />
                </form>
            </div>*@


