@{
    ViewBag.Title = "Home Page";
}



<div class=" row center-block">
    <div class="text-center center-block homeLogo">Voyager Video</div>
    <div class="text-center center-block homeSubtext">All Media Explored</div>
    </div>
    <div class="row">
        <hr />
        <img class="card-img img-responsive center-block" src="https://picsum.photos/1150/270" alt="Card image">
        <hr />
    </div>















