@{
    ViewBag.Title = "Home Page";
}

    


<div class="container-fluid">
    <h1 class="text-center center-block">Voyager Video</h1>
    <h4 class="text-center center-block">All Media Explored</h4>
    <div class="row">
        <div class="btn-group ">

            @*<a href="/School/SchoolHome" class="btn btn-lg btn-warning" role="button">School</a>*@
            <a href="/Inventory/InventoryHome" class="btn btn-lg btn-danger " role="button">Inventory</a>
        </div>
        <img class="card-img" src="https://picsum.photos/1150/270" alt="Card image">
    </div>
</div>


   












