@model ITP245_Model.Vendor

@{
    ViewBag.Title = "Vendors";
    ViewBag.Subtitle = "Edit Vendor";
    Layout = "~/Areas/Inventory/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.VendorId)
        @Html.Partial("_CreateEdit", Model)
    </div>
}
<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</div>

