@model IEnumerable<ITP245_Model.Vendor>

@{
    ViewBag.Title = "Vendors";
    Layout = "~/Areas/Inventory/Views/Shared/_Layout.cshtml";
}

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" }) &nbsp; &nbsp; &nbsp; &nbsp;

    <!--Drop down list state filter -->
    <label class="filter">Vendor Tag:</label>&nbsp; &nbsp;
    @Html.DropDownList("State", null, htmlAttributes: new { @class = "filter", @onchange = "FillByTag()" })

    @* it would be cool to add a clear filter button here later *@
</p>

<div id="vendorContainer">
    @Html.Partial("_Index", Model)
</div>

@section Scripts{

    <script type="text/javascript">

        function FillByTag() {
            var state = $('#State').val();
            var container = $('#vendorContainer');
            container.load('@Url.Action("_IndexByTag")?state=' + state)
        }



    </script>
}