@model ITP245_Model.PoItem

@{
    ViewBag.Subtitle = "Edit PO Item";
    Layout = "~/Areas/Inventory/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.HiddenFor(model => model.PoItemId)
    @Html.Partial("_CreateEdit", Model)
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
