@model ITP245_Model.Spoilage

@{
    ViewBag.Title = "Spoilage";
    ViewBag.Subtitle = "Create Spoilage";
    Layout = "~/Areas/Inventory/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @Html.Partial("_CreateEdit", Model)
</div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</div>
