@model ITP245_Model.Spoilage

@{
    ViewBag.Title = "Spoilage";
    ViewBag.SubTitle = "Edit Spoilage";
    Layout = "~/Areas/Inventory/Views/Shared/_Layout.cshtml";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    @Html.HiddenFor(model => model.SpoilageId)
    @Html.Partial("_CreateEdit", Model)

</div>
}

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary" })
</div>
